.not-logged-in {
	.region-featured-artwork {
		top: 0;
		height: 525px;
		.featured-artwork {
			.featuredart-title {
				position: relative;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			    height: auto;
			    width: auto;
			    z-index: 5;
			    padding: 0 30px;
			    #site-logo {
			    	position: relative;
					display: block;
					margin: 0 auto;
					width: 15%;
				}
				p {
					color: $white;
					font-size: $large;
					text-align: center;
				}
				.main-arrow {
					text-align: center;
					margin-top: 50px;
					&:before {
						@extend %icomoon;
						content: $arrow-down;
						color: $white;
						font-size: $xxlarge;
					}
				}
			}
			.desaturate {
				background-color: rgba($black, 0.6);
			}
		}
	}
}

.region-featured-artwork {
	position: relative;
	left: 0;
	right: 0;
	height: 375px;
	margin-bottom: 1em;
	overflow: hidden;
	.featured-artwork {
		height: 100%;
		.featuredart-title {
			position: absolute;
		    top: -50px;
		    bottom: 0;
		    margin: auto;
		    height: 1%;
		    width: 100%;
		    z-index: 5;
		    h1 {
			    color: $white;
			    font-size: $superlarge;
		    	font-family: $font-set-1;
		    	text-align: center;
		    }
		}
		img {
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: -1;
		}
		.user-info {
			margin-top: 56px;
			&.logged_in_user {
				margin-top: 67px;
			}
			position: absolute;
			left: 0;
			right: 0;
			z-index: 1;
			font-family: $font-set-1;
		    text-align: center;
		    span.holder {
		    	display: inline-block;
		    	position: relative;
		    	width: 10%;
				img {
					position: relative;
					display: block;
					margin: 0 auto;
					border-radius: 50%;
				}
				a {
					position: absolute;
					bottom: 5px;
					right: 0;
					&:after {
						@extend %button-with-bg;
						@extend %icomoon;
						content: $mail-unread;
						border-radius: 50px;
						font-size: $large;
						padding: 10px;
					}
					&:hover {
						&:after {
							background-color: $white;
							color: $dark-grey;
							border: 1px solid $white;
						}
					}
				}
			}
			h1.given-name {
				color: $white;
			    font-size: $xxxlarge;
			    margin: 15px 0 0;
			    line-height: 1em;
			}
			p.username {
				color: $brand-colour;
			    font-size: $large;
			}
		}
		.desaturate {
			position: absolute;
			background-color: rgba($black, 0.5);
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
		}
	}
}

.page-user,
.page-messages {
	.featured-holder {
		position: relative;
		.region-featured-artwork {
			position: relative;
			top: 0;
			height: 400px;
			overflow: visible;
			background-size: auto 100%;
		}
	}
	.tabs-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		border: none;
		margin: 0 auto;
		overflow: hidden;
		.tabs.primary {
			display: inline-block;
			li {
				float: left;
				a {
					background-color: $dark-grey;
					padding: 10px 20px;
					text-transform: lowercase;
					margin: 0;
					display: inline-block;
					border-radius: 0;
					color: $white;
					@extend %transition;
					&:hover,
					&.active {
						background-color: $brand-colour;
						@extend %transition;
					}
				}
			}
			margin-bottom: -6px;
			&.clearfix:after {
				display: none;
			}
		}
	}
}
