#full-content-suffix {
	position: relative;
	#wrap {
		position: relative;
		z-index: 1;
	}
	.desaturate {
		position: absolute;
		background-color: rgba($black, 0.5);
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
}