.flag-wrapper {
	&.flag-friend {
	    a {
	    	@extend %button;
	    }
	    .flag-throbber {
	    	display: none;
	    }
	}
}

.page-user {
	.flag-wrapper {
		&.flag-friend {
		    a {
		    	@extend %button-with-bg;
		    	font-weight: $bold;
		    	border: none;
		    	&:hover {
		    		border: none;
		    	}
		    }
		}
	}
}