#privatemsg-list {
	.container-inline {
		margin-bottom: 20px;
	}
}

.ajax-progress-throbber,
.throbber {
	display: none;
	float: left;
}

.node-form {
	fieldset {
		border: 1px solid $dark-grey;
		legend {
			background-color: $dark-grey;
			border: 1px solid $dark-grey;
			font-weight: bold;
    		padding: 10px 10px;
    		width: calc(100% - 20px);
			span {
				text-shadow: none;
				color: $white;
			}
		}
		.fieldset-wrapper {
			margin-top: 50px;
		}
		.form-item label {
			float: left;
		}
	}
	.form-item {
		display: block;
	}
	.sliderfield {
		// position: relative;
		.sliderfield-bubble {
		    position: absolute;
		    z-index: 10;
		    top: -38px;
		    left: -9.5px;
		    color: $black;
		    background-color: #eeeeee;
		    border: 1px solid rgba($dark-grey,0.2);
		    margin: auto;
		    padding: 6px;
		    -webkit-border-radius: 28px;
		    -moz-border-radius: 28px;
		    border-radius: 28px;
		    font-size: 0.8em;
		    width: 20px;
		    height: 20px;
		    text-align: center;
		}
	}
	.field-type-number-decimal {
		display: inline-block;
		position: relative;
		width: 100%;
		margin: 30px 0 20px;
	}
	.ui-slider-horizontal {
		background: transparent;
	    background-color: #BEBEBE;
	    border: none;
		height: 0.4em !important;
		// position: absolute;
	 //    top: 0;
	 //    bottom: 0;
	    // right: 0;
	    margin: auto;
	    margin-top: 10px;
	    float: right;
	    width: 800px;
	}
	.ui-slider-handle {
	    border: $white 3px solid;
	    background: transparent;
	    background-color: #BEBEBE;
	    background-color: $brand-colour;
	    border-radius: 50px;
	    width: 15px;
	    height: 15px;

	    top: 50%;
	    bottom: 50%;
	    margin: auto;
	    &:hover,
	    &:active,
	    &:focus {
	    	background-color: $dark-grey;
	    }
	}
}