// Discover Anime sort/filter options

#block-menu-menu-discover-anime,
#block-menu-menu-discover-manga {
	position: absolute;
	top: 10px;
	right: 0;
	width: 100%;
	.menu {
		margin: 0;
		display: inline-block;
		width: 100%;
		li {
			list-style-type: none;
			list-style-image: none;
			float: right;
			padding: 0 10px;
			border-left: 1px solid $dark-grey;
			&:last-child {
				padding-left: 0;
				border-left: none;
			}
		}
	}
}

#site-navigation {
	#main-menu {
		> ul > li {
			> a:hover,
			&.sfHover > a,
			> a.active,
			> a.active-trail,
			> a.active:hover {
				background-color: $brand-colour;
				color: $white;
			}
			> a {
				@extend %transition;
				&.active,
				&.active:hover,
				&:hover {
					background: $brand-colour;
					color: $white;
					@extend %transition;
				}
			}
		}
		> ul ul {
			min-width: 90px;
			border-left: 2px solid $brand-colour;
			a {
				padding: 10px 30px !important;
				&.active,
				&.active-trail {
					color: $white;
				}
			}
		}
		li.new-privatemsg {
			> a {
				padding-right: 10px;
				&:after {
					content: '';
					display: inline-block;
				    width: 10px;
				    height: 10px;
				    -moz-border-radius: 15px;
				    -webkit-border-radius: 15px;
				    border-radius: 15px;
				    background-color: $red;
				    margin: 0 0 5px 5px;
				}
			}
		}
		.menu {
			img {
				width: 35px;
				border-radius: 50px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
			}
			p {
				display: inline-block;
				margin-left: 45px;
			}
		}
	}
}

.tabs-wrapper {
	// margin-bottom: 20px;
	// position: absolute;
	// // border: none;
	// .tabs.primary {
	// 	li {
	// 		a {
	// 			padding: 0.5em 1em;
	// 			// border-bottom: $white 3px solid;
	// 			border:none;
	// 			@extend %transition;
	// 			&.active,
	// 			&:hover {
	// 				@extend %transition;
	// 				background-color: transparent;
	// 				color: $dark-grey;
	// 				border:none;
	// 				// border-bottom: $dark-grey 3px solid;
	// 			}
	// 		}
	// 	}
	// }
}

#anonymous-user-menu {
	padding: 0 30px;
	color: $white;
	position: relative;
	z-index: 10;
	ul.menu {
		position: absolute;
		left: 0;
		right: 30px;
		top: 50px;
		li {
			float: right;
			color: $white;
			font-size: $large;
			list-style-type: none;
			margin-left: 20px;
			padding-left: 20px;
			border-left: 1px solid $white;
			&:last-child {
				border: none;
			}
			a {
				cursor: pointer;
				color: $white;
				&:hover,
				&.active {
					color: $brand-colour;
				}
			}
		}
	}
}

// Jump Menus
.view-display-id-chapter_jump {
	margin-top: 20px;
	.container-inline {
		.dk-select,
		.dk-selected {
			display: block;
			margin: 0 auto;
		}
	}
}


