.ui-accordion {
	h3.ui-accordion-header {
		$border-width: 5px;

		margin-bottom: 15px;
		background: transparent;
		background-color: $dark-grey;
		border: none;
		border-radius: 0;
		position: relative;
		@extend %transition;
		.ui-accordion-header-icon {
			position: absolute;
		    left: 1.2em;
		    top: 50%;
		    bottom: 50%;
			margin: auto;

			background: transparent;
			border: none;
			border-top: $border-width solid transparent;
			border-bottom: $border-width solid transparent;
			border-left: $border-width solid $white;
			width:0;
			height:0;
		}
		a {
			color: $white;
			font-family: $font-set-1;
		}
		&.ui-state-hover,
		&.ui-state-active {
			background-color: $brand-colour;
			@extend %transition;
		}
		&.ui-state-active {
			.ui-accordion-header-icon {
				left: 0.9em;

				border: none;
				border-left: $border-width solid transparent;
				border-right: $border-width solid transparent;
				border-top: $border-width solid $white;
			}
		}
	}
	.ui-accordion-content {
		padding: 0;
		border: none;
		display: inline-block;
		width: 100%;
		img {
			width: 100%;
		}
	}
}

h3[class^='views-accordion-']:not(.ui-accordion-header) {
	@extend %border-bottom-titles;
	font-size: $xlarge;
}