@mixin arrows($direction:'down',$size:15px,$colour:$brand-colour) {
	width: 0;
    height: 0;
    @if $direction == 'down' {
	    border-left: $size solid transparent;
	    border-right: $size solid transparent;
	    
	    border-top: $size solid $colour;
	}
	@if $direction == 'up' {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
	
		border-bottom: $size solid $colour;
	}
	@if $direction == 'right' {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		
		border-left: $size solid $colour;
	}
	@if $direction == 'left' {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent; 
		
		border-right: $size solid $colour;
	}
}