// Users view

.view-users.view-id-users {
	display: inline-block;
	width: 100%;
	h2 {
		@extend %border-bottom-titles;
	}
	.view-content {
		display: inline-block;
		width: 100%;
		.views-row {
			width: calc((92% - 10px) / 5);
			float: left;
			margin-right: 2%;
			text-align: center;
			padding-bottom: 10px;
			margin-bottom: 15px;
			border: rgba($dark-grey, 0.1) 1px solid;
			&:last-child,
			&:nth-child(5n) {
				margin-right: 0;
			}
			.views-field-picture {
				a {
					@extend %img-hover;
					img {
						width: 100.1% !important;
						max-width: none !important;
						border-bottom: rgba($dark-grey, 0.1) 1px solid;
					}
				}			}
			.views-field-view-user {
				padding-top: 10px;
			}
			.views-field-name {
				font-size: 0.9em;
				line-height: 10px;
				margin-bottom: 10px;
			}
			.views-field-count {
				display: inline-block;
				width: 100%;
				padding: 10px 0;
				.field-content {
					display: inline-block;
					width: 100%;
					span.count {
						color: $brand-colour;
						font-size: $regular;
					}
					span {
						display: block;
						width: 100%;
						line-height: 17px;
					}
				}
			}
			.views-field-ops,
			.views-field-friend-link,
			.views-field-view-user-1 {
				float: left;
				width: 50%;
				&.user-you {
					width: 100%;
				}
				a {
					background-color: transparent;
					&:after {
						@extend %icomoon;
						font-size: $large;
					}
				}
			}
			.views-field-ops,
			.views-field-friend-link {
				a {
					&:after {
						@extend %icomoon;
						color: rgba($dark-grey, 0.3);
					}
					&.remove-friend:after {
						content: $circle-cross;
					}
					&.add-friend:after {
						content: $circle-plus;
					}
					&.approve-friend:after {
						content: $circle-check;
					}
					&:hover:after {
						color: $brand-colour;
					}
				}
			}
			.views-field-view-user-1 {
				a {
					&:after {
						@extend %icomoon;
						color: $brand-colour;
						content: $visible;
					}
					&:hover:after {
						color: rgba($dark-grey, 0.3);
					}
				}
			}
			.user-links {
				display: inline-block;
				width: 100%;
			}
		}
	}
}