.page-messages {
	.action-links {
		list-style-type: none;
		margin: 0;
		margin-bottom: 20px;
		li {
			list-style-type: none;
			a {
				@extend %transition;
				&:before {
					@extend %icomoon;
					@extend %transition;
					content: $mail-unread;
					margin-right: 10px;
				}
			}
		}
	}
}