.page-messages-view {
	.privatemsg-message {
		display: inline-block;
		margin-bottom: 10px;
		.privatemsg-author-avatar {
			width: 8%;
			img {
				border-radius: 50px;
				width: 80%;
				display: block;
				margin: 0 auto;
			}
		}
		.privatemsg-message-column {
			width: 90%;
			margin-left: 2%;
			.privatemsg-message-information {
				border-bottom: 1px solid rgba($dark-grey,0.2);
				.privatemsg-author-name {
					a {
						padding: 5px 15px;
						&.current-user {
							background-color: rgba($dark-grey,0.1);
						}
					}
				}
			}
			.privatemsg-message-body {
				margin-left: 15px;
				.message-cont {
					display: inline-block;
					width: 100%;
					position: relative;
					padding: 5px 0;
					&:last-child {
						border: none;
					}
					&.new:before {
						content: ' ';
					    background-color: $red;
					    width: 6px;
					    height: 6px;
					    position: absolute;
					    border-radius: 50%;
					    left: -15px;
					    top: 13px;
					}
					.position-datetime {
						// overflow: hidden;
						&:hover {
							// overflow: visible;
							.privatemsg-message-datetime-holder {
								opacity: 1;
								@extend %transition;
								-webkit-transition-delay: 1s; /* Safari */
	    						transition-delay: 1s;
							}
						}
					}
					div:not(.privatemsg-message-datetime-holder) {
						display: inline-block;
					}
					.message-body {
						p {
							margin: 0 0 10px;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
					.position-datetime {
						position: relative;
					}
					.privatemsg-message-datetime-holder {
						opacity: 0;
						padding-right: 0;
						width: 200px;
						position: absolute;
					    top: 0;
					    left: 100%;
					    left: -moz-calc(100% + 10px);
					    left: -webkit-calc(100% + 10px);
					    left: calc(100% + 10px);
					    border-left: 1px solid rgba($dark-grey,0.2);
					    padding-left: 10px;
						@extend %transition;
						.privatemsg-message-datetime {
							background-color: $dark-grey;
							color: $white;
							font-size: $base;
							padding: 5px 10px;
							border-radius: 2px;
							display: block;
						}
					}
				}
			}
		}
	}
}