%transition {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

%border-bottom-titles {
	display: inline-block;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 10px solid $brand-colour;
    font-size: $xxlarge;
}

%icomoon {
	font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @extend %transition;
}

%button {
    padding: 10px 20px;
    border-radius: 50px !important;
    font-weight: $normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8em;
    background-color: transparent;
    @extend %transition;
    &:hover {
        background-color: $brand-colour;
        color: $white;
        @extend %transition;
    }
}

%button-cancel {
    @extend %button;
    background-color: $dark-grey;
    border: 1px solid $dark-grey;
    font-weight: $normal;
    &:hover {
        background-color: transparent;
        color: $dark-grey;
    }
}

%button-with-bg {
    @extend %button;
    background-color: $brand-colour;
    color: $white;
    border: 1px solid $brand-colour;
    font-weight: $normal;
    &:hover {
        color: $brand-colour;
        background-color: $white;
    }
}

%button-with-border {
    @extend %button;
    border: 1px solid $brand-colour;
    &:hover {
        color: $white;
    }
}

%img-hover {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    background-color: $black;
    line-height: 0;
    overflow: hidden;
    img {
        opacity: 0.95;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.05,1.05,1);
    }
    &:hover {
        img {
            opacity: 0.6;
            -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
        }
        &:before {
            -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
            transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        }
    }
}

%img-hover-thumbs {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    background-color: $black;
    line-height: 0;
    overflow: hidden;
    img {
        opacity: 0.95;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.7,1.7,1);
    }
    &:hover,
    &.active {
        img {
            opacity: 0.6;
            -webkit-transform: scale3d(1.4,1.4,1);
            transform: scale3d(1.4,1.4,1);
        }
        &:before {
            -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
            transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        }
    }

}

%img-basic-hover {
    display: inline-block;
    width: 100%;
    background-color: $black;
    line-height: 0;
    overflow: hidden;
    img {
        width: 100%;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    &.active {
        img {
            opacity: 1;
        }
    } 
}