// @colour palettte  ==============================================
// using color names as variables is fine.

// theme colors
$green: #1ecfc2;
$blue: #68e5ec;
$dark-grey: #4e504d;
$white: #fff;
$black: #000;
$brand-colour: $green;
$red: #990000;

// greys
$neutral-grey: tint($dark-grey, 30%);
$light-grey: tint($dark-grey, 75%);

// @type settings    ==============================================

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;

// $base-font-size: 16px;
// $base-line-height: 26px;

$font-set-1: 'caviardreams', sans-serif;
$font-set-2: 'Lato', sans-serif;
$font-set-3: Verdana, Helvetica, sans-serif;
$font-set-4: Arial, Helvetica, sans-serif;
$font-set-5: "Times New Roman", Helvetica, sans-serif;

$bold-font-set-1: 'caviardreams_bold', 'caviardreams', sans-serif;

// $browser-default-font-size: 16px;

// easier font size variables
$small     : 0.5em;
$base      : 0.8em;
$regular   : 1.1em;
$large     : 1.3em;
$xlarge    : 1.5em;
$xxlarge   : 1.8em;
$xxxlarge  : 2em;
$superlarge: 3em;

// @icons    ==============================================

$arrow-down: "\e902";
$arrow-left: "\e903";
$arrow-right: "\e904";
$arrow-up: "\e905";

$new-this-week: "\f219";
$circle-cross: "\e900";
$circle-plus: "\e901";
$search: "\e906";
$circle-check: "\e86c";
$mail-read: "\e151";
$mail-unread: "\e159";
$visible: "\e8f4";
$pencil: "\e907";
$star: "\e908";
$dot: "\e909";





