.node-type-anime,
.node-type-manga {
	.title-info {
		margin-bottom: 20px;
		p {
			margin: 0;
		}
	}
	.title,
	.title-info p,
	.field-name-field-status {
		display: inline-block;
	}
	.field-name-field-status {
		margin: 0;
		text-transform: lowercase;
	}
	.title-info p,
	.field-name-field-status {
		color: $brand-colour;
	}
	.field-name-field-tax-term--genres,
	.field-name-field-tax-term--rating,
	.field-name-length,
	.field-name-field-alternate-titles {
		margin-bottom: 10px;
		.field-label {
			margin-right: 10px;
		}
		.field-items {
			display: inline-block;
			.field-item {
				float: left;
				&:after {
					content: ',';
					margin-right: 5px;
				}
				&:last-child:after {
					content: none;
					margin-right: 0;
				}
			}
		}
	}
	.field-name-length {
		.field-seasons,
		.field-episodes,
		.field-volumes,
		.field-chapters {
			display: inline-block;
		}
		.field-label {
			display: inline-block;
		}
		.field-seasons,
		.field-volumes {
			margin-right: 15px;
			padding-right: 30px;
			border-right: 1px solid rgba($dark-grey,0.2);
		}
	}
	.desc {
		margin-top: 30px;
	}

	#related-anime-collection {
		.field-collection-container {
			border: none;
			margin-top: 10px;
			margin-bottom: 0;
			.field-items {
				.field-item {
					margin-bottom: 0;
				}
			}
		}
		.field-name-field-prequel-anime,
		.field-name-field-sequel-anime,
		.field-name-field-collection-movies {
			.field-label {
				display: inline-block;
				width: 65px;
			}
			.field-item {
				display: inline-block;
				&:after {
					content: ',';
					margin-right: 5px;
				}
				&:last-child:after {
					content: none;
					margin-right: 0;
				}
			}
		}
	}
	#link-to-manga,
	#link-to-anime {
		margin: 10px 0;
		a {
			@extend %button-with-border;
		}
	}
	.promotional-videos {
		display: inline-block;
		width: 100%;
		.field-label {
			font-size: $xxlarge;
			text-transform: none;
			font-weight: $normal;
			letter-spacing: normal;
			border-bottom: 10px solid $brand-colour;
		}
		.field-items {
			display: inline-block;
			width: 100%;
		}
		.field-item {
			width: calc(98% / 3);
			float: left;
			margin-right: 1%;
			margin-bottom: 10px;
			&:nth-child(3n),
			&:last-child {
				margin-right: 0;
				a {
					img {
						width: 100.1% !important;
						max-width: none !important;
					}
				}
			}
			a {				
				@extend %img-hover-thumbs;
			}
		}
	}
}