
@font-face {
    font-family: 'nexa_light';
    src: url('../fonts/nexa_light/nexa_light-webfont.eot');
    src: url('../fonts/nexa_light/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_light/nexa_light-webfont.woff2') format('woff2'),
         url('../fonts/nexa_light/nexa_light-webfont.woff') format('woff'),
         url('../fonts/nexa_light/nexa_light-webfont.ttf') format('truetype'),
         url('../fonts/nexa_light/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'caviardreams';
    src: url('../fonts/caviardreams/caviardreams-webfont.eot');
    src: url('../fonts/caviardreams/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams/caviardreams-webfont.woff') format('woff'),
         url('../fonts/caviardreams/caviardreams-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviardreams_italic';
    src: url('../fonts/caviardreams_italic/caviardreams_italic-webfont.eot');
    src: url('../fonts/caviardreams_italic/caviardreams_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_italic/caviardreams_italic-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_italic/caviardreams_italic-webfont.woff') format('woff'),
         url('../fonts/caviardreams_italic/caviardreams_italic-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_italic/caviardreams_italic-webfont.svg#caviar_dreamsitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviardreams_bold';
    src: url('../fonts/caviardreams_bold/caviardreams_bold-webfont.eot');
    src: url('../fonts/caviardreams_bold/caviardreams_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_bold/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bold/caviardreams_bold-webfont.woff') format('woff'),
         url('../fonts/caviardreams_bold/caviardreams_bold-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_bold/caviardreams_bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?czeetc');
    src:    url('../fonts/icomoon/icomoon.eot?czeetc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?czeetc') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?czeetc') format('woff'),
        url('../fonts/icomoon/icomoon.svg?czeetc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
