div#sudo-button img {
  float:left;
}

div#sudo-button img.sudo-img-r {
  float:right;
}

div#sudo-button input {
  height:24px;
  border: 0 none;
  margin: 0;
  padding: 0 7px;
  cursor: pointer;
  text-transform:uppercase;
  font-size:9px;
  font-family:tahoma;
  font-weight:bold;
  color:darkslategray;
  background:lightgrey;
  border-color: lightgrey darkgrey darkgrey lightgrey;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  -webkit-border-radius: 9px;
}
div#sudo-button.sudoing input {
  background:lightsalmon;
}

div#sudo-button {
  position:fixed !important;
  right:0 !important;
  bottom:0 !important;
}

div#sudo-button form#sudo-switch {
  margin: 0px 7px !important;
  padding: 0px !important;
}
