body {
	font-family: $font-set-1 !important;
	a {
		color: $brand-colour;
		@extend %transition;
		&:hover {
			@extend %transition;
		}
	}
	::-webkit-scrollbar {
	    width: 5px;
	}
	::-webkit-scrollbar-track {
	    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    background-color: rgba($dark-grey,0.2);
	    border-radius: 6px;
	}
	 
	::-webkit-scrollbar-thumb {
	    border-radius: 6px;
	    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	    background-color: rgba($dark-grey,0.5);
	}
}

i {
	font-style: italic;
}

div.fivestar-widget-static {
	float: right;
}
div.fivestar-widget,
div.fivestar-widget-static {
	display: inline-block;
	.cancel,
	.star,
	.star span.on {
		width: 25px;
		a {
			transition: none;
		}
	}
	.star-last {
		width: 17px;
	}
	.star span.on {
		background: url(../widgets/default/star.gif) no-repeat 0 -16px;
	}
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background-image: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	text-shadow: none;
	&:hover {
		background-image: none;
		box-shadow: none;
		border-radius: 0;
	}
	@extend %button;
	&#edit-reset {
		background-color: $light-grey;
	}
}

input[type="text"],
input[type="password"] {
	padding: 6px 15px 8px;
    border-radius: 50px;
}

/* hide input */
input[type='radio']:empty {
	margin-left: -999px;
	display: none;
}

/* style label */
input[type='radio']:empty ~ label {
	position: relative;
	// float: left;
	display: block;
	line-height: 2.5em;
	text-indent: 4em;
	border-radius: 4px 0 0 4px;
	border: 1px solid rgba($dark-grey, 0.2);
	width: 150px;
	// margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type='radio']:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
	border: 1px solid rgba($dark-grey, 0.2);
}

/* toggle hover */
input[type='radio']:not(:checked) ~ label:hover:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input[type='radio']:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input[type='radio']:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: shade($brand-colour,40%);
	background-color: $brand-colour;
}

input[type='radio']:checked ~ label {
	color: #777;
}

/* radio focus */
input[type='radio']:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

input[type='submit'] {
	@extend %button-with-bg;
	border: 1px solid $brand-colour;
}

.views-reset-button input[type='submit']#edit-reset,
#edit-cancel {
	@extend %button-cancel;
	color: $white;
}

.item-list {
	ul {
		padding: 0;
		li {
			list-style-type: none;
		}
	}
}

h2 {
	font-size: $xxlarge;
}

.page-node {
	#content-wrap {
		img {
			border: none;
			padding: 0;
			max-width: 100%;
			margin: 0;
		}
	}
}

img {
	-webkit-backface-visibility: hidden;
	@extend %transition;
	&:hover {
		-webkit-backface-visibility: hidden;
		@extend %transition;
	}
}

.highlight-text {
	color: $brand-colour;
	text-transform: uppercase;
}

table {
	thead {
		tr {
			background-color: $dark-grey;
			a {
				color: $white;
				&:hover {
					color: $light-grey;
				}
			}
		}
	}
	border: none;
	border-bottom: 1px solid rgba($dark-grey,0.5);
	tr {
		&.odd,
		&.even {
			background-color: $white;
			border: none;
			td {
				border: none;
			}
		}
	}
	td.active {
		// background-color: tint($white,10%);
		background-color: rgba($light-grey,0.2);
	}
}

form#privatemsg-list div.container-inline * {
	margin: 0;
}

// Dropkick
.dk-select {
	color: $dark-grey;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5em;
    cursor: pointer;
    border: 1px solid #AFAFAF;
    border-radius: 25px;
    padding: .5em 1em;
    font-size: 1em;
    font-weight: 400;
    width: 250px;
    background-color: $white;
}

.dk-option {
	padding: 0.2em 0.5em;
}

.dk-optgroup {
	padding: 5px 0 0;
	margin: 0;
	border: none;
	&:nth-child(2) {
		margin-top: 10px;
	}
	.dk-optgroup-label {
		display: inline-block;
	}
	.dk-optgroup-options {
		margin-left: 0;
		li {
			padding: 5px 0;
			&:last-child {
				border-bottom: 1px solid rgba($dark-grey,0.3);
			}
		}
		&:last-child {
			li {
				&:last-child {
					border: none;
				}
			}
		}
	}
}

.dk-selected {
	border: 1px solid rgba($dark-grey,0.5);
	&:before {
		border-top-color: rgba($dark-grey,0.5);
	}
	&:after {
		border-left: 1px solid rgba($dark-grey,0.5);
	}
	border: none;
}

.dk-option-selected {
  background-color: $brand-colour;
}

.dk-select-options {
	text-align: center;
	position: absolute;
    display: none;
    left: 0;
    right: 0;
    padding: 1em;
    border-radius: 6px !important;
    // border: 1px solid $brand-colour !important;
    border: 1px solid rgba($dark-grey,0.5) !important;
	.dk-option-highlight {
		background-color: $brand-colour;
	}
}

.dk-select-open-down {
	.dk-select-options {
		display: block;
	}
}

.dk-select-open-up,
.dk-select-open-down {
	.dk-selected {
		border-color: $brand-colour;
		&:before {
			border-bottom-color: $brand-colour;
		}
		&:after {
			border-left-color: $brand-colour;
		}
	}
	.dk-select-options {
		padding: 0;
		border-color: $brand-colour;
	}
}

.dk-select-multi {
	&:focus {
		.dk-select-options {
			padding: 0;
			border-color: $brand-colour;
		}
	}
}

.dk-selected {
	&:hover,
	&:focus {
		border-color: $brand-colour;
		&:before {
			border-top-color: $brand-colour;
		}
		&:after {
			border-left-color: $brand-colour;
		}
	}
}

// Pager
.item-list {
	.pager {
		margin: 30px 0 0;
		li {
			background: transparent;
			padding: 0;
			a {
				text-shadow: none;
				border-radius: 50px;
				font-weight: $bold;
				color: $white;
				background-color: $brand-colour;
				padding: 8px 12px;
			}
			&.pager-first,
			&.pager-previous,
			&.pager-next,
			&.pager-last {
				padding: 0.5em;
				a {
					color: $brand-colour;
					background-color: transparent;
					padding: 0;
					font-size: $large;
				}
			}
		}
		.pager-current {
			padding: 8px 12px;
			background-color: transparent;
			color: $dark-grey;
		}
	}
}

.field-label,
.views-label {
	margin-top: 2px;
	text-transform: uppercase;
	font-weight: $ultra-bold;
	letter-spacing: 3px;
	font-size: $base;
}

.more-link {
	margin-top: 10px;
	a {
		@extend %button;
		border: 1px solid $brand-colour;
	}
}

.spoken {
	text-transform: uppercase;
}

.views-exposed-widgets {
	.description {
		display: none;
	}
}


