body {
	background-color: transparent;
}

#wrap {
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
}

#main {
	margin: 20px 0;
}

#breadcrumbs {
	margin: 0;
	margin-bottom: 30px;
	.breadcrumb {
		border-top: 1px solid rgba($dark-grey, 0.5);
		border-bottom: 1px solid rgba($dark-grey, 0.5);
		padding: 5px;
		font-size: $regular;
	}
}

#content-wrap {
	position: relative;
}

#site-navigation-wrap {
    margin-bottom: 0;
    height: auto;
}

#site-navigation {
	position: relative;
	z-index: 5;
	background-color: $dark-grey;
	.green-holder {
		float: left;
		background-color: $brand-colour;
		width: 20%;
		height: 55px;
		position: absolute;
	}
	#site-logo {
		position: relative;
		width: 15%;
		height: 55px;
		float: left;
		background-color: $brand-colour;
		a {
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				max-width: 90%;
				max-height: 75%;
			}
		}
	}
	form#search {
	    position: relative;
	    width: 35%;
	    float: left;
	    height: 55px;
	    input#livesearch {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    height: 20px;
		    width: 75%;
		    border: none;
		    padding: 5px 15px;
		    border-radius: 25px;
		}
	}
}

footer {
	#footer-container {
		padding-top: 50px;
		background-color: $dark-grey;
		.featured-DA-artist {
			display: inline-block;
			.featured-artist-picture,
			p {
				float: left;
				margin: 0;
			}
			img[id^='DA-username--'] {
				margin-right: 10px;
				border-radius: 50px;
			}
		}
		.featured-DA-artist,
		#footer-wrap,
		#copyright-wrap {
			margin: 0 auto;
			background-color: transparent;
			color: $neutral-grey;
		}
		#copyright-wrap {
			padding: 75px 0 25px;
			border: none;
			background: transparent;
			#copyright {
				text-align: right;
			}
		}
	}

	#copyright {
		text-align: center;
		padding: 10px 0;
	}
}

.left-sidebar,
.right-sidebar {
	float: left;
	margin-bottom: 20px;
}

.left-sidebar {
	width: 27.5%;
	padding-right: 20px;
	text-align: center;
}

.right-sidebar {
	width: 68%;
	padding-left: 20px;
}