
.view-id-anime,
.view-id-manga {
	margin-top: 50px;
	.item-list {
		h3 {
			@extend %border-bottom-titles;
		}
		ul {
			display: inline-block;
			width: 100%;
			li.views-row {
				float: left;
				width: calc(92% / 5);
				margin-right: 2%;
				margin-bottom: 3em;
				&:nth-child(5n) {
					margin-right: 0;
				}
				.views-field-field-cover-art {
					position: relative;
					margin-bottom: 0.5em;
					&:before,
					&:after {
						content: "";
					    position: absolute;
					    z-index: -2;
					    bottom: 22px;
					    left: 10px;
					    width: 50%;
					    height: 20%;
					    max-width: 300px;
					    -webkit-box-shadow: 0 15px 10px rgba(0,0,0,1);
					    -moz-box-shadow: 0 15px 10px rgba(0,0,0,1);
					    box-shadow: 0 15px 10px rgba(0,0,0,1);
					    -webkit-transform: rotate(-3deg);
					    -moz-transform: rotate(-3deg);
					    -ms-transform: rotate(-3deg);
					    -o-transform: rotate(-3deg);
					    transform: rotate(-3deg);
					}
					&:after {
						right: 10px;
					    left: auto;
					    -webkit-transform: rotate(3deg);
					    -moz-transform: rotate(3deg);
					    -ms-transform: rotate(3deg);
					    -o-transform: rotate(3deg);
					    transform: rotate(3deg);
					}
					.field-content {
						a {
						    display: inline-block;
						    width: 100%;
						    background-color: $black;
						    line-height: 0;
						    overflow: hidden;
						    @extend %img-hover;
						}
					}
				}
				.views-field-title {
					margin-bottom: 10px;
					a {
						font-size: $regular;
					}
				}
				.views-field-field-tax-term--genres {
					margin-bottom: 10px;
				}
				.views-field-field-tax-term--genres,
				.views-field-field-tax-term--rating,
				.views-field-field-number-of-episodes,
				.views-field-field-number-of-volumes {
					font-size: $base;
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
}