// Discover ANIME & MANGA blocks
// appears on front page, sign up page, /discover page

.block.block-views {
	.view-id-discover_anime,
	.view-id-manga_blocks {
		h2 {
			@extend %border-bottom-titles;
		}
		.item-list {
			margin: 5px 0 1.5em;
			border-top: 10px solid $brand-colour;
			ul {
				display: inline-block;
				width: 100%;
				padding: 0;
				li {
					float: left;
					list-style-type: none;
					width: 20%;
					.views-field-field-cover-art {
						a {
							@extend %img-hover;
							img {
								margin: 0;
							}
						}
					}
					.views-field-title {
						font-size: $regular;
						.field-content {
							display: inline-block;
						}
					}
					.views-field-title,
					.views-field-field-episode-number {
						text-align: center;
						padding: 0 5px;
					}
					.views-field-view-node {
						margin-top: 1em;
					}
					.views-field-view-node,
					.views-field-view-node-1,
					.views-field-view-node-2 {
						margin-bottom: 5px;
						display: inline-block;
						width: 100%;
						.field-content {
							a {
								position: relative;
								color: $dark-grey;
								.link-underline {
									position: absolute;
									left: 0;
									right: 0;
									top: 0;
									bottom: -5px;
									margin: auto;
									width: 0;
									border-bottom: 1px solid $brand-colour;

									@extend %transition;
								}
								&:hover {
									.link-underline {
										width: 100%;

										@extend %transition;
									}
								}
							}
							&:before {
								@extend %icomoon;
								content: $new-this-week;
								margin: 0 10px;
								color: transparent;
								font-size: $base;
							}
							&.new-episode {
								a {
									color: $brand-colour;
								}
								&:after {
									margin-left: 10px;
									font-size: $base;
									content: 'new';
									color: $red;
								}
							}
							&.new-this-week {
								a {
									font-weight: $ultra-bold;
								}
								&:before {
									content: $new-this-week;
									color: $brand-colour;
								}
							}
						}
					}
				}
			}
		}
	}
}