.page-manga-read {
	.messages.error {
		display: none;
	}
	.page-title {
		display: none;
	}
	.view-display-id-read {
		.chapter_info {
			position: relative;
			margin-bottom: 40px;
			.views-field {
				display: inline-block;
			}
			.views-field-title {
				margin-right: 10px;
				font-size: $xxlarge;
			}
			.views-field-field-status {
				text-transform: lowercase;
				color: $brand-colour;
			}
			.rate-create {
				position: absolute;
				right: 0;
				top: 0;
				.views-field-field-rate,
				.views-field-created {
					display: block;
				}
				div.fivestar-widget {
					float: right;
				}
				.views-field-created {
					width: 100%;
					margin-top: 10px;
					text-align: center;
				}
			}
			.chapter-specs {
				display: inline-block;
				width: 100%;
				margin-top: 10px;
				.views-field {
					display: block;
					float: left;
					padding: 0 30px;
					border-right: 1px solid rgba($dark-grey,0.2);
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
						border: none;
					}
				}
			}
		}
		.read {
			position: relative;
			.views-field-field-manga-page {
				.field-content {
					text-align: center;
					a {
						display: inline-block;
						img {
							display: block;
							margin: 0 auto;
						}
					}
					.no-pages {
						margin: 0 0 40px;
						.chapter-nav {
							margin: 20px 0 10px;
							a {
								display: block;
							}
						}
					}
				}
			}
			.views-field-nothing {
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    a {
			    	float: left;
				    width: 50%;
				    height: 100%;
			    }
			}
		}
	}
}