.page-anime-watch {
	.messages.error {
		display: none;
	}
	.page-title {
		display: none;
	}
	.view-display-id-watch {
		.views-row {
			margin-bottom: 40px;
		}
		.views-field.views-field-view-node,
		.views-field.views-field-view-node-1 {
		    position: absolute;
		    z-index: 100;
		    top: 0;
		    height: 528.75px;
		    .field-content {
		    	position: absolute;
		    	margin-top: 242.5px;
			    a {
			    	font-size: $superlarge;
			    	position: relative;
			    	border-radius: 100px;
			    	&:before {
			    		@extend %icomoon;
			    		color: $brand-colour;
			    	}
			    	span {
			    		width: 46px;
					    height: 46px;
					    display: block;
					    text-indent: -9000px;
					    -moz-border-radius: 23px;
					    -webkit-border-radius: 23px;
					    border-radius: 23px;
					    cursor: pointer;
					    opacity: 0.9;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    background-size: 17px 25px;
					    margin: -23px 0 0 -23px;
					    -webkit-transition: all 0.4s ease;
					    -moz-transition: all 0.4s ease;
					    -o-transition: all 0.4s ease;
					    -ms-transition: all 0.4s ease;
					    transition: all 0.4s ease;
			    	}
			    	.thumbnail {
					    width: 0px;
					    height: 0px;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    overflow: hidden;
					    margin: 0px;
					    -moz-border-radius: 0px;
					    -webkit-border-radius: 0px;
					    border-radius: 0px;

					    @extend %transition;
			    	}
			    	&:hover {
			    		span {
				    		width: 100px;
						    height: 100px;
						    -moz-border-radius: 50px;
						    -webkit-border-radius: 50px;
						    border-radius: 50px;
						    opacity: 0.7;
						    margin: -50px 0 0 -50px;
						    background-size: 22px 32px;
						    background-color: $brand-colour;
						}
			    		&:before {
			    			color: $dark-grey;
			    		}
			    		.thumbnail {
			    			width: 90px;
						    height: 90px;
						    margin: -45px 0 0 -45px;
						    -moz-border-radius: 45px;
						    -webkit-border-radius: 45px;
						    border-radius: 45px;

			    			@extend %transition;
			    		}
			    	}
			    }
			}
		}
		.views-field.views-field-view-node {
			right: calc(100% + 50px);
			.field-content {
				right: 0;
				a {
					&:before {
						content: $arrow-left;
					}
				}
			}
		}
		.views-field.views-field-view-node-1 {
			left: calc(100% + 50px);
			.field-content {
				left: 0;
				a {
					&:before {
						content: $arrow-right;
					}
				}
			}
		}
		.episode_base_info {
			position: relative;
			margin: 20px 0 40px;
			.views-field {
				display: inline-block;
			}
			.views-field-title-1 {
				margin-right: 10px;
				font-size: $xxlarge;
			}
			.views-field-field-status {
				text-transform: lowercase;
				color: $brand-colour;
			}
			.rate-create {
				position: absolute;
				right: 0;
				top: 0;
				.views-field-field-rate,
				.views-field-created {
					display: block;
				}
				div.fivestar-widget {
					float: right;
				}
				.views-field-created {
					width: 100%;
					margin-top: 10px;
					text-align: center;
				}
			}
			.episode-specs {
				display: inline-block;
				width: 100%;
				margin-top: 10px;
				.views-field {
					display: block;
					float: left;
					padding: 0 30px;
					border-right: 1px solid rgba($dark-grey,0.2);
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
						border: none;
					}
				}
			}
		}
		.views-field-body {
			margin-bottom: 40px;
		}
		.views-label {
			display: inline-block;
			width: 100px;
		}
		.views-field-field-tax-term--rating,
		.views-field-field-tax-term--genres {
			margin-bottom: 10px;
			.field-content {
				display: inline-block;
				ul {
					li {
						display: inline-block;
						margin-right: 10px;
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}