// Anime Node first 5 episodes
#block-views-chapters-first-chapters {
	display: inline-block;
	width: 100%;
	h2 {
		@extend %border-bottom-titles;
	}
}

.page-manga-chapters {
	.messages.error {
		display: none;
	}
}

.page-manga-chapters .region-content,
.view-id-chapters.view-display-id-first_chapters {
	ul {
		display: inline-block;
		width: 100%;
	}
	li.views-row,
	div.views-row {
		width: calc(96% / 5);
		float: left;
		margin-right: 1%;
		margin-bottom: 10px;
		&:nth-child(5n),
		&:last-child {
			margin-right: 0;
			a {
				img {
					width: 100.1% !important;
					max-width: none !important;
				}
			}
		}
		.views-field-field-cover-art {
			a {				
				@extend %img-hover;
			}
		}
		.views-field-nothing {
			a {
				font-size: $base;
			}
		}
	}
}