// Anime Node first 5 episodes

#block-views-episodes-first-episodes,
#block-views-episodes-more-episodes {
	display: inline-block;
	width: 100%;
	h2 {
		@extend %border-bottom-titles;
	}
}

.page-anime-episodes {
	.messages.error {
		display: none;
	}
}

.page-anime-episodes .region-content,
#block-views-episodes-first-episodes .view-id-episodes.view-display-id-first_episodes,
#block-views-episodes-more-episodes .view-id-episodes.view-display-id-more_episodes {
	ul {
		display: inline-block;
		width: 100%;
	}
	li.views-row,
	div.views-row {
		width: calc(96% / 5);
		float: left;
		margin-right: 1%;
		margin-bottom: 10px;
		&:nth-child(5n),
		&:last-child {
			margin-right: 0;
			a {
				img {
					width: 100.1% !important;
					max-width: none !important;
				}
			}
		}
		.views-field-field-episode {
			a {				
				@extend %img-hover-thumbs;
			}
		}
		.views-field-nothing {
			a {
				font-size: $base;
			}
		}
	}
}