#block-views-users-newest-users {
	h2 {
		background-color: $brand-colour;
		position: relative;
		padding: 12px 50px;
		color: $white;
		margin-bottom: 10px;
		&:after {
			@include arrows();
			content: ' ';
			position: absolute;
			bottom: -15px;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.slick-track {
		padding-bottom: 0;
	}
	.slick__slide {
		height: 300px;
		@include breakpoint(400px) {
			height: 275px;
		}
		.views-field-picture {
			position: relative;
			margin-bottom: 10px;
			.field-content {
				display: inline-block;
		    	min-height: 236px;
		    	@include breakpoint(400px) {
					min-height: 200px;
				}
				img {
					width: 50%;
					border-radius: 50%;
					vertical-align: middle;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					filter: gray; /* IE6-9 */
					filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
					-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
					@extend %transition;
				}
			}
		}
		.views-field-nothing,
		.views-field-name {
			opacity: 0;
			width: 70%;
			display: block;
			margin: 0 auto;
			text-align: center;
			@extend %transition;
		}
		.views-field-name {
			.field-content:before {
				content: '@';
			}
		}
		&.slick-current {
			.slide__content {
				margin-top: 0 !important;
			}
			.views-field-picture {
				img {
					width: 75%;
					filter: none;
					-webkit-filter: grayscale(0);
					@include breakpoint(600px) {
						width: 45%;
					}
					@include breakpoint(400px) {
						width: 55%;
					}
				}
			}
			.views-field-nothing,
			.views-field-name {
				opacity: 1;
				@extend %transition;
			}
			.views-field-nothing {
				font-size: $large;
			}
			.views-field-name {
				font-size: $regular;
				color: $brand-colour;
			}
		}
	}

	.slick__arrow {
		.slick-arrow {
			border: none !important;
			&:before {
				@extend %icomoon;
				color: $brand-colour;
			}
			&:hover:before {
				color: $dark-grey;
			}
		}
		.slick-prev:before {
			content: $arrow-left;
		}
		.slick-next:before {
			content: $arrow-right;
		}
		.slick-disabled {
			cursor: default;
			&:before {
				color: $dark-grey;
			}
		}
	}
}