#block-search-form {
	position: relative;
	overflow: hidden;
	padding: 50px;
	h2 {
		color: $white;
		margin-bottom: 10px;
	}
	.search-form {
		input.custom-search-box {
			width: 80%;
		    padding: 8px 15px 10px;
		    border: none;
		    box-shadow: none;
		    border-radius: 50px;
		}
		input.form-submit {
			background-image: none;
			background-color: transparent;
			border: none;
			position: relative;
			z-index: 10;
			width: 41px;
			height: 35px;
		}
		.form-actions {
			position: relative;
			&:before {
				@extend %icomoon;
				content: $search;
				position: absolute;
				top: 2px;
				z-index: 9;
				color: $white;
				background-color: $brand-colour;
				border-radius: 10px;
				padding: 7px 10px;
				font-size: $xlarge;
			}
		}
	}
	.featured-artwork {
		position: absolute;
		z-index: 0;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: -1;
		.desaturate {
			background-color: rgba($black, 0.5);
			position: absolute;
			height: 100%;
			top: 0;
			bottom: 0;
			width: 100%;
		}
		img {
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: -1;
		}
	}
}