#block-formblock-user-register {
	display: inline-block;
	width: 100%;
	padding: 50px 0;
	fieldset#edit-picture {
		float: left;
		max-width: 35%;
		margin-right: 2%;
		border: none;
		text-align: center;
		legend,
		span.file {
			display: none;
		}
		.fieldset-wrapper {
			margin: 0;
			label {
				margin-bottom: 10px;
			}
			.file-icon {
				display: none;
			}
			span.file {
				text-align: center;
				width: 100%;
				display: inline-block;
			}
		}
		input#edit-picture-upload-upload {
		    width: 100%;
		    border: 0.5px solid lightgray;
		}
		input.form-submit {
			display: block;
			margin: 10px auto;
		}
	}
	label {
		font-size: $regular;
	}
	#edit-account,
	.field-type-text,
	.form-actions.form-wrapper {
		float: right;
		width: 60%;
	}
	// .form-actions.form-wrapper {
	// 	float: left;
	// 	width: 100%;
	// }
	#edit-picture-upload-ajax-wrapper {
		img {
			border-radius: 50%;
		}
	}
}