.view-id-review {
	caption {
		@extend %border-bottom-titles;
		display: table-caption;
		font-size: $xxlarge;
		text-align: left;
	}
	.views-field-path {
		display: none;
	}
	.views-field-view-node,
	.views-field-edit-node,
	.views-field-delete-node {
		text-align: center;
		a {
			&:before {
				@extend %icomoon;
				color: $brand-colour;
			}
			&:hover:before {
				color: $dark-grey;
			}
		}
	}
	tbody {
		.views-field-view-node a:before {
			content: $visible;
		}
		.views-field-edit-node a:before {
			content: $pencil;
		}
		.views-field-delete-node a:before {
			content: $circle-cross;
		}
	}
	tbody tr {
		@extend %transition;
		// &:hover {
		// 	background-color: $brand-colour;
		// 	cursor: pointer;
		// 	@extend %transition;
		// 	a {
		// 		color: $white;
		// 		&:hover {
		// 			color: $dark-grey;
		// 		}
		// 	}
		// }
	}

	&.view-display-id-user_reviews {
		.views-field-view-node,
		.views-field-edit-node,
		.views-field-delete-node {
			// width: 40px;
		}
	}
}