#block-user-login--2 {
	background-color: $brand-colour;
	position: absolute;
    right: 0;
    z-index: -5;
    top: 100px;
    border-radius: 10px;
    width: 25%;
    padding: 20px 40px;
    opacity: 0;
    @extend %transition;
    &.visible {
    	opacity: 1;
    	z-index: 10;
    	@extend %transition;
    }
    &:before {
    	$number: 10px;
    	@include arrows('up',$number);
    	content: ' ';
    	position: absolute;
	    top: -$number;
	    right: 48px;
    }
    h2 {
    	color: $white;
    	margin-bottom: 15px;
    	font-size: $xlarge;
    }
    .item-list {
    	ul {
    		display: inline-block;
    		width: 100%;
    		li {
    			float: right;
    			a {
		    		color: $white;
		    		&:hover {
		    			color: $dark-grey;
		    		}
		    	}
    		}
    	}
    }
    input[type="text"] {
    	background: url(../images/username-icon.png) no-repeat scroll 7px 3px;
    	background-size: 20px;

    }
    input[type="password"] {
    	background: url(../images/lock-icon.png) no-repeat scroll 7px 5px;
    	background-size: 17px;
    }
    input[type="text"],
    input[type="password"] {
    	width: 83%;
    	padding: 5px 5%;
		padding-left: 12%;
		background-color: $white;
        border: none;
        box-shadow: none;
    }
    .form-actions {
    	padding: 0;
    	margin: 0;
	    input[type="submit"] {
	    	background-color: $white;
	    	color: $brand-colour;
	    	float: right;
	    	&:hover {
	    		color: $dark-grey;
	    	}
	    }
	}
}